.container {
	width: 300px;
}

.main {
	width: 300px;
	display: flex;
	justify-content: center;
	margin-top: 3px;
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	align-content: center;
}

.sec4 {
	float: right;
	flex-direction: column;
	display: flex;
}

button {
	width: 75px;
	height: 75px;
	font-size: large;
}

.screen {
	
	display: flex;
	border: 1px solid gainsboro;
	border-radius: var(--mdc-protected-button-container-shape);
	--mdc-protected-button-container-shape: 4px;
	justify-content: right;
	padding-right: 8px;
	flex-direction: column;
	align-items: flex-end;
}

.previousVal {
	font-family: Arial;
	font-size: x-small;
	color: gainsboro;
	height: 15px;
}

.currentVal{
	font-family: Arial;
	font-size: 18px;
}