<h2>Calculator</h2>
<div class="container">

  <div class="screen">
    <div class="previousVal">{{previousNumber}} </div>
    <div class="currentVal">{{currentNumber}}</div>
  </div>

  <div class="main">
    <div class="buttons">
      <div class="sec1">
        <button (click)="onNumberClick('1')" mat-raised-button>1</button>
        <button (click)="onNumberClick('2')" mat-raised-button>2</button>
        <button (click)="onNumberClick('3')" mat-raised-button>3</button>
      </div>
      <div class="sec2">
        <button (click)="onNumberClick('4')" mat-raised-button>4</button>
        <button (click)="onNumberClick('5')" mat-raised-button>5</button>
        <button (click)="onNumberClick('6')" mat-raised-button>6</button>
      </div>
      <div class="sec3">
        <button (click)="onNumberClick('7')" mat-raised-button>7</button>
        <button (click)="onNumberClick('8')" mat-raised-button>8</button>
        <button (click)="onNumberClick('9')" mat-raised-button>9</button>
      </div>
      <div class="sec5">
        <button (click)="onNumberClick('0')" mat-raised-button>0</button>
        <button (click)="onClear()" mat-raised-button>C</button>
        <button (click)="onEqual()" mat-raised-button>=</button>
      </div>
    </div>
    <div class="sec4">
      <button (click)="onFunctionClick('+')" mat-raised-button>+</button>
      <button (click)="onFunctionClick('-')" mat-raised-button>-</button>
      <button (click)="onFunctionClick('*')" mat-raised-button>*</button>
      <button (click)="onFunctionClick('/')" mat-raised-button>/</button>
    </div>
  </div>
</div>